body {
    padding: 0;
    margin: 0;
    width: 1024px;
    margin: auto;
  }
  
  /* .div {
    width: 500px;
    margin: 10px;
    border: 10px solid black;
    padding: 10px;
  }
  
  table {
    border-collapse: collapse;
  }
  
  tbody {
    border-collapse: collapse;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .item {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .active {
    background-color: blue;
    color: white;
  }
  
  td {
    padding-right: 15px;
  }
  
  .sub-item {
    float: left;
  }
  
  .sub-item img {
    margin-right: 20px;
  } */
  
  /* bai 2 */
  /* .title {
    margin-bottom: 8px;
  }
  
  .line {
    background-color: orange;
    height: 5px;
    width: 100px;
  }
  
  .input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 6px;
  }
  
  .btn {
    width: 200px;
    background-color: aquamarine;
    border: none;
    padding: 12px 6px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
  } */
  
  /* bai 3 */
  
  .image-wrapper {
    width: 50%;
    background-image: url("./asset//img.webp");
    background-position: center;
    object-fit: cover;
    background-size: cover;
  }
  
  
  .image-wrapper div {
    height: 100%;
  }
  
  .line {
    background-color: orange;
    height: 5px;
    width: 60px;
  }
  
  .float-left {
    float: left;
  }
  
  .float-left i {
    margin-right: 10px;
  }
  
  h1,
  p {
    margin-bottom: 0px;
  }
  
  .p-20 {
    padding-left: 20px;
  }
div{text-align: center;}

td{padding-right: 200px    ;}
  
 